

*{
    color: red;
    /* background-color: blue; */
}

.heading-class{
    color: rgba(74, 9, 239, 0.841);
}

#id1{
    color: coral;
}

#id4{
    text-align: center;
}

#id5{
 
}
.myp{
    color: rgb(11, 33, 235);
}

#id3{
    text-align: center;
    text-decoration:overline;
    font-weight: 100;
    text-transform: none;
    font-family: 'Courier New', Courier, monospace;
   
}